body {
  display: flex;
  background-color: #40208c;
  color: #e6e6e6;
}

nav {
  position: left;
  top: 0;
  left: 0;
  /* width: 250px; */
  padding-right: 20px;
  height: 100%;
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #e6e6e6;
}

main {
  position: right;
  /* margin-left: 250px; */
}